@model string
@{
  Layout = "_Layout";
}


<div asp-validation-summary="All" class="text-danger"></div>
  
<form asp-action="Create" method="post">
  <div>
    <label for="name">Name:</label>
    <input name="name"/>
  </div>
  <br/>
  <button type="submit" class="btn btn-primary">Create</button>
  <a asp-action="Index" class="btn btn-secondary">Back</a>
</form>